.divCadastroCurso{
    padding: 50px;
    border: 1px solid green;
    background: khaki;
}

.border12{
    border: 1px solid green;
    text-align: center;
    padding: 10px;
}
.none{
    display: none;
}
.tamanho1{
    border: 1px solid red;
    width: 20%;
}
.tamanho2{
    border: 1px solid red;
    width: 80%;
}

.ddcd{
    border: 1px solid red;
    margin-top: 30px;
}

.espacamento50{
    padding-left: 30px;
}

.espacamento100{
    padding-left: 70px;
}

.none{
    display: none;
}
.tamanho{
    width: 100px;
}

.fdvdd{
    background: red;
    text-align: center;
}
.corCurso{
    background: red;
}

.corUnidades{
    background: green;
}

.tamanhoDiv{
    width: 220px;
    padding: 10px;
    background: greenyellow;
}

.sdfsd{
    background: gray;
}
.tamanhoDiv2{
    width: 150px;
    padding: 10px;
    background: darkgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.sdsd{
    border: 1px solid red;
}
.linkPetsAluno{
    width: 100px;
    border-radius: 10px;
    background: #9ca3af;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.linkPetsAluno:hover{
    background: #e2e8f0;
}

.aprendeser{
    width: 120px;
    height: 150px;
    background: #9ca3af;
    border-radius: 10px;
}
.dsdsdccc{
    display: flex;
    justify-content: space-between;

}
.fsdcs{
    display: flex;
    justify-content: space-between;
}
.class1{
    display: none;
}

.class2{
    display: block;
}
